.productCard{
    border: 1px solid rgb(194, 194, 194);
    width: 200px;
    padding: 10px 7px;
    margin: 0;
    font-family: sans-serif;
    border-radius: 5px;
    justify-self: center;
}

.productName{
    padding: 5px;
    margin: 0;
    font-size: 16px;
}

.price{
    padding: 5px;
    margin: 0;
    font-size: 14px;
}

.discountedPrice{
    padding: 5px;
    margin: 0;
    font-size: 14px;
}

.totalSaving{
    color:green;
    padding: 5px;
    margin: 0;
}

.addToCartBtn{
    padding: 10px 0px;
    background-color: #008ecc;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qtyCounter{
    display: flex;
    align-items: center;
    width: 70%;
    padding: 10px 3px 5px 0px;
    justify-content: space-around;
}

.qtyCounter button{
    padding: 10px 15px;
    border: none;
    background-color: #008ecc;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}