.signin{
    margin: 0 auto;
    width: fit-content;
    height: 70vh;
    margin-top: 100px;
}

.signin h3, .signin p {
    padding: 0xp;
    margin: 15px 0px;
    font-family: sans-serif;
}

.inputBox{
    border: 1px solid rgb(206, 206, 206);
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    font-family: sans-serif;
}

.input{
    width: 400px;
    height: 25px;
    border: none;
    font-size: 16px;
    outline: none;
    padding: 0px 7px;
    font-family: sans-serif;
}

.lables{
    margin-top: 150px;
}

.btns{
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}

.btns p {
    color: rgb(60, 149, 207);
    cursor: pointer;
}

.btns .submitBtn{
    background-color: #008ecc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}