
.footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f3f3f3;
    height:400px;
    font-family: sans-serif;
}

.footerLinks{
    padding: 0px;
}

.footerLinks li{
    list-style: none;
    font-size: 12px;
    margin-top: 7px;
    color: rgba(51,51,51,.75);
}

.col_1, .col_2, .col_3{
    width: 300px;
    margin-top: 50px;
    text-align: left;
}

.col_1 h4, .col_2 h4, .col_3 h4{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.col_3 p{
    padding: 7px 0px;
    margin: 0;
    font-size: 12px;
    color: rgba(51,51,51,.75);
}

.appStoreLink{
    display: flex;
    margin-top: 15px;
}

.appStoreLink div:nth-child(2){
    margin-left: 10px;
}